.App{
  position: relative;
  overflow-x: clip;
}

.header__hero{
  position: relative;
  background: var(--black);
}

.white__gradient{
  position: absolute;
  top: -5%;
  left: -5%;
  height: 20rem;
  width: 20rem;
  background: rgba(255,255,255, 0.32);
  filter: blur(100px);
  border-radius: 50%;
}